// @import '../index.less';
@main:#9899E4;
.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
  position: relative;
}


.box{
  display:flex;
  flex-wrap: wrap;
  
  font-size: 28px;


  .box2{
    width: 45%;
    height: 10vw;
    color:#0003D1;
    background:@main;
    margin:20px;
    display: flex;
    justify-content: center;
    align-items:center;
    &:hover{
      background:#3334CC;
      color:#fff;

    }
  }
}
