.qbox {
  .qdesc {
    margin: 16px 0;
    font-size: 5vh;
  }

  .options {
    display: flex;
    justify-content: center;
    // flex-direction: column;
    flex-flow: wrap;

    .optBtn {
      margin: 4px;
    }
  }
}
